{% extends "layout.html" %}

{% block main_content %}

<main role="main" id="content" lang="en">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Úvod</span>
      Ako začať s vývojom
  </h1>

  <h2 class="heading-small heading-contents">Obsah:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#sablona">Ako použiť šablónu ID-SK?</a></li>
        <li><a href="#toolkit">Ako používať ID-SK front-end toolkit?</a></li>
      </ul>
    </div>
  </div>

  <p class="text">Ak budete chcieť vytvoriť elektronickú službu pomocou ID-SK, môžete využiť dva repozitáre dostupné na GitHube. Šablóna ponúka hlavičku, pätičku a súvisiace prvky pre elektronickú službu. Front-end toolkit ponúka webové komponenty používateľského rozhrania elektronických služieb.</p>
                        
  <h3 class="heading-medium" id="sablona">Ako použiť šablónu ID-SK?</h3>
  <p class="text">
      <a href="https://id-sk.github.io/idsk_template/">Manuál pre použitie šablóny ID-SK (v angličtine)</a>.
  </p>

  <h3 class="heading-medium" id="toolkit">Ako používať ID-SK front-end toolkit?</h3>
  <p class="text">
      <a href="https://github.com/id-sk/idsk_frontend_toolkit">Manuál pre použitie front-end toolkit ID-SK (v angličtine)</a>.
  </p>
</main>
{% endblock %}
