{% extends "layout.html" %}

{% block main_content %}

<main role="main" id="content" lang="en">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Vzory</span>
    Dátumy
  </h1>

  <p class="lede text">
    Tento návod opisuje postup, ako žiadať od používateľov uvedenie dátumov.
  </p>

  <h2 class="heading-small heading-contents">Obsah:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#typy">Typy dátumov</a></li>
        <li><a href="#poziadanie1">Požadovanie ľahko zapamätateľných dátumov</a></li>
        <li><a href="#poziadanie2">Požadovanie dátumov z dokumentov a kariet</a></li>
        <li><a href="#poziadanie3">Požadovanie približných dátumov</a></li>
        <li><a href="#poziadanie4">Požadovanie relatívnych dátumov</a></li>
        <li><a href="#pouzivanie">Používanie kalendára</a></li>
        <li><a href="#ako-pisat">Ako písať dátumy</a></li>
        <li><a href="#overit">Ako overiť, že sú dátumy správne</a></li>
      </ul>
    </div>
  </div>

  <h2 class="heading-large" id="typy">Typy dátumov</h2>
  <p class="text">
    Spôsob, akým sa pýtate používateľov na dátumy, závisí od typov dátumov, na ktoré sa pýtate. Napríklad:
  </p>
  <ul class="list-bullet">
    <li>ľahko zapamätateľné dátumy (ako dátum narodenia alebo svadby),</li>
    <li>dátumy z dokumentov alebo kariet (ako pas alebo kreditná karta),</li>
    <li>približné dátumy (ako “jún 1983”),</li>
    <li>relatívne dátumy (ako “4 dni od dnes”).</li>
  </ul>

  <h2 class="heading-large" id="poziadanie1">Požadovanie ľahko zapamätateľných dátumov</h2>
  <p class="text">
    Na požadovanie ľahko zapamätateľných dátumov, ktoré má používateľ vyplniť, ako dátum narodenia, používajte textové polia.
  </p>
  <p class="text">
    Napríklad:
  </p>
  <img src="/public/images/patterns/date1.png">
  <p class="text">
    Použite tri polia, pretože bude jednoduchšie overiť jednotlivé časti než sa snažiť validovať jedno samostatné pole. Uvádzajte ich v poradí deň, mesiac, rok. Platnosť dátumu validujte. Ak celý dátum nemusí byť známy, umožnite vypĺňať iba známu časť dátumu.
  </p>
  <p class="text">
    Neposúvajte používateľov medzi poľami automaticky. Môže to totiž kolidovať s používaním klávesnice a zmiasť používateľov.
  </p>
  <p class="text">
    Použitie kalendára (vizuálne kalendáre, ktoré môžu byť použité na výber dátumu) nie sú zvlášť užitočné pri výbere známych dátumov a niektorí používatelia majú problém vybrať si dátum takýmto spôsobom.
  </p>

  <h3 class="heading-medium">Spustenie numerickej klávesnice na zariadeniach iPhone</h3>

  <p class="text">Na spustenie numerickej klávesnice na zariadeniach iPhone, pridajte do dátového poľa nasledovný pattern atribút: pattern="[0-9]*"</p>


  <h2 class="heading-large" id="poziadanie2">Požadovanie dátumov z dokumentov alebo kariet</h2>
  <p class="text">Ak požadujete údaje presne ako sú zobrazené na pase, kreditnej karte alebo podobnej položke, zobrazte polia v rovnakom formáte ako v originálnej položke. Takto uľahčíte používateľovi presné prekopírovanie údajov.</p>

  <h2 class="heading-large" id="poziadanie3">Požadovanie približných dátumov</h2>
  <p class="text">Ak nepotrebujete presný dátum a pýtate sa na dátum, ktorý si používateľ nemusí pamätať (napríklad “dátum kedy ste stratili svoj pas”), uistite sa, že dáte používateľovi možnosť uviesť približný dátum, ako napríklad “Jún 1983”.</p>
  <p class="text">Tu je príklad:</p>
  <img src="/public/images/patterns/date2.png">

  <h2 class="heading-large" id="poziadanie4">Požadovanie relatívnych dátumov</h2>
  <p class="text">
    Môžete prísť do situácie, kedy budete potrebovať dátumy, ktoré sú relatívne k dnešnému dátumu alebo k inému dňu – toto je bežné, ak si používateľ rezervuje stretnutie.
  </p>
  <p class="text">
    Preto by ste mali umožniť používateľovi uviesť alebo vybrať relatívny dátum ako “zajtra” alebo “o 4 pracovné dni”, pričom v takomto prípade odporúčame aj informatívne zobraziť automaticky vypočítanú informáciu o výslednom dátume, napr. “približne 23. júna”. Ak je deň v týždni dôležitý, uveďte aj túto informáciu.
  </p>

  <h2 class="heading-large" id="pouzivanie">Používanie kalendára</h2>
  <p class="text">
    Kalendár použite iba v prípadoch, ak bude používateľ v nasledovných situáciách:
  </p>
  <ul class="list-bullet">
    <li>pozná deň v týždni a konkrétny dátum,</li>
    <li>porovnáva dátumy,</li>
    <li>uvádza rozsah dátumov.</li>
  </ul>
  <p class="text">
    Použitie kalendára môže pomôcť používateľom, ktorí si napríklad potrebujú rezervovať stretnutie ako súčasť využitia vašej služby.
  </p>
  <p class="text">
    Ak potrebujete zobraziť dostupné dátumy, vložte kalendár na stránku a uistite sa, že je dostatočne veľký na to, aby bol čitateľný.
  </p>

  <p class="text">
    Tu je príklad:
  </p>

  <img src="/public/images/patterns/date3.png">
  <p class="text">Nikdy nevytvárajte ovládanie kalendára, ktoré je závislé od JavaScriptu, ako od jedinej vstupnej možnosti.</p>


  <h2 id="ako-pisat">Ako zobrazovať dátumy
  </h2>
  <p class="text">Ak potrebujete zobraziť dátum, použite formát “deň mesiac rok”, napríklad “8. júl 2017”. Nepoužívajte medzi mesiacom a rokom čiarku.
  </p>
  <p class="text">
    Použite predložky “od, do” v rozsahu dátumov (nie pomlčku), napríklad “od 8. júla do 9. augusta”.
  </p>
  <h2 class="heading-large" id="overit">Ako kontrolovať, že sú dátumy správne</h2>
  <p class="text">Aby ste overili, že sú dátumy používateľov správne, sústreďte sa na:</p>
  <ul class="list-bullet">
    <li>prvý dátum v rozsahu dátumov je skorší ako druhý,</li>
    <li>minulé dátumy sú v minulosti,</li>
    <li>budúce dátumy sú v budúcnosti,</li>
    <li>skontrolujte preklepy v dátumoch.</li>
  </ul>

  <!--
  <h2 class="heading-large" id="suvisiace">Súvisiace návody</h2>

  <p class="text">Tieto návody môžu byť pre vás užitočné:</p>
  <ul class="list-bullet">
      <li><a href="/#working-with-patterns">ID-SK dizajnové vzory</a></li>
      <li><a href="https://www.gov.uk/service-manual/design/using-the-govuk-template-frontend-toolkit-and-elements">použitie ID-SK šablóny, frontend toolkit a elementy</a></li>
      <li><a href="https://www.gov.uk/service-manual/design/making-prototypes">Vytváranie prototypov</a></li>
  </ul>
  -->
</main>
{% endblock %}
