{% extends "layout.html" %}

{% block main_content %}

<main role="main" id="content" lang="en">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Vzory</span>
    Indikátory progresu
  </h1>

  <p class="lede text">
    Tento návod opisuje vizualizáciu časti dokončeného procesu.
  </p>

  <h2 class="heading-small heading-contents">Obsah:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#kedy-pouzit-indikator-progresu">Kedy použiť indikátor progresu</a></li>
        <li><a href="#priklady-ktorym-sa-vyhnut">Príklady, ktorým sa vyhnúť</a></li>
      </ul>
    </div>
  </div>

  <h3 class="heading-medium" id="kedy-pouzit-indikator-progresu">Kedy použiť indikátor progresu</h3>
  <p class="text">Najprv by ste mali otestovať svoj systém bez akýchkoľvek indikátorov progresu. Veľa služieb je natoľko jednoduchých, že používatelia indikáciu nepotrebujú.</p>
  <p class="text">Pred pridaním indikátora progresu sa pokúste zlepšiť systém zmenou poradia, typu alebo počtu otázok.</p>
  <p class="text">Ak služba nutne vyžaduje väčší počet krokov alebo by na základe výsledkov testovania mali používatelia stále problém, použite jednoduchý indikátor krokov alebo otázok, ako je napríklad tento:</p>
  <img src="/public/images/patterns/indikator1.png" alt="indicator">
  <p class="text">Tento prístup zabezpečuje kompaktnú vizualizáciu procesu a obvykle postačuje na to, aby používatelia získali istotu v tom, ako bude celý proces pokračovať.</p>
  <p class="text">Celkový počet krokov uveďte iba v prípade, že ho viete presne určiť. Ak používateľ pokračuje v procese a celkový počet krokov sa mení v závislosti od odpovedí používateľa, nezabudnite aktualizovať indikátor.</p>

  <h3 class="heading-medium" id="priklady-ktorym-sa-vyhnut">Príklad, ktorým sa vyhnúť</h3>
  <p class="text">Nepoužívajte tento typ indikátora: </p>
  <img src="/public/images/patterns/indikator2.png" alt="indicator">
  <p class="text">Tento typ indikátora môže byť problematický, pretože: </p>
  <ul class="list-bullet">
    <li>si ho často používatelia nevšimnú,</li>
    <li>zaberá veľa miesta,</li>
    <li>zle sa zobrazuje na malých obrazovkách,</li>
    <li>niektorých používateľov môže rozptýliť a zmiasť,</li>
    <li>komplikuje vytvorenie dobrých pomenovaní krokov,</li>
    <li>komplikuje zapracovanie podmienečných sekcií.</li>
  </ul>

  <!--
  <h3 class="heading-medium" id="suvisiace-navody">Súvisiace návody</h3>
  <p class="text">Tieto návody môžu byť pre vás užitočné:</p>
  <ul class="list-bullet">
      <li><a href="/#working-with-patterns">ID-SK dizajnové vzory</a></li>
      <li><a href="https://www.gov.uk/service-manual/design/using-the-govuk-template-frontend-toolkit-and-elements">použitie ID-SK šablóny, frontend toolkit a elementy</a></li>
      <li><a href="https://www.gov.uk/service-manual/design/making-prototypes">Vytváranie prototypov</a></li>
  </ul>
  -->
</main>
{% endblock %}
