{% extends "layout.html" %}

{% block main_content %}

<main role="main" id="content" lang="en">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Vzory</span>
    Mená
  </h1>

  <p class="lede text">

    Tento návod opisuje spôsob, ako žiadať od používateľov ich mená.

  </p>

  <h2 class="heading-small heading-contents">Obsah:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#uistite">Uistite sa, že polia fungujú pre väčšinu vašich používateľov</a></li>
        <li><a href="#kde">Kde je to možné, použite polia na celé meno</a></li>
        <li><a href="#pomoc">Pomoc používateľom, ktorí majú stránku v záložkách</a></li>
      </ul>
    </div>
  </div>

  <h3 class="heading-medium" id="uistite">Uistite sa, že polia fungujú pre väčšinu vašich používateľov</h3>
  <p class="text">Uistite sa, že sú polia dostatočne dlhé a podporujú všetky znaky potrebné na zahrnutie 95 % mien, ktoré potrebujete zachytiť.
  </p>
  <h3 class="heading-medium" id="kde">Kde je to možné, použite polia na celé meno</h3>
  <p class="text">Použite pole na celé meno, pretože práve to dokáže pokryť najširšiu škálu typov mien a vyžaduje od používateľa najmenšie úsilie pri porozumení. Takáto forma mena nie je vhodná, ak sa vyžaduje jednoduché spracovanie samostatného mena a priezviska.
  </p>
  <p class="text">Tu je ukážka:</p>
  <img src="/public/images/patterns/name.png" alt="name">
  <h3 class="heading-medium">Problém s viacerými poľami mien
  </h3>

  <p class="text">S viacerými poľami mien rastie riziko, že:</p>
  <ul class="list list-bullet text">
    <li>meno človeka sa nezmestí do poľa, ktoré ste vybrali,</li>
    <li>používatelia budú svoje mená vpisovať v zlom poradí,</li>
    <li>používatelia sa budú snažiť napísať svoje celé mená do prvého poľa.</li>
  </ul>


  <h3 class="heading-medium" id="pomoc">Pomoc používateľom, ktorí majú stránku v záložkách</h3>
  <p class="text">Pre polia na celé meno použite označenie “Meno a priezvisko”.</p>
  <p class="text">Ak musíte použiť dve oddelené polia na meno a priezvisko, tieto polia vždy umiestnite horizontálne vedľa seba, pri čom ako prvé pole vľavo uveďte meno, následne priezvisko.</p>

  <p class="text">Nepoužívajte pole “stredné meno” pokiaľ nemusíte. Ak ho musíte použiť, uistite sa, že je dobrovoľné. Pole nemusíte označiť ako dobrovoľné.</p>

  <p class="text">Uveďte, či potrebujete niekoho bežné meno (fyzická osoba) alebo jeho úplný právny názov, a to najmä v prípade ak je používateľom právnická osoba alebo fyzická osoba podnikateľ .</p>

</main>
{% endblock %}
