{% extends "layout.html" %}

{% block main_content %}
<main role="main" id="content" lang="en">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Vzory</span>
    Označenie verzie služby
  </h1>

  <p class="lede text">
    Tento návod opisuje postup, ako označiť testovaciu verziu služby a novo spustenú službu.
  </p>

  <h2 class="heading-small heading-contents">Obsah:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#pouzitie">Kedy použiť označenie služby</a></li>
        <li><a href="#priklad">Príklad</a></li>
        <li><a href="#ziskanie">Získajte kód</a></li>
        <li><a href="#pridanie">Pridanie kontaktu na spätnú väzbu</a></li>
      </ul>
    </div>
  </div>

  <h3 class="heading-medium" id="pouzitie">Kedy použiť označenie služby</h3>
  <p class="text">
    Pred tým, ako vytvoríte novú službu, odporúčame, aby ste si overili, či už taká služba neexistuje, resp. či ju používatelia reálne potrebujú. Ideálnym nástrojom je používateľský prieskum. Ak na základe prieskumu dospejete k záveru, že vaša služba je potrebná, spustite jej testovaciu verziu. Aj tu bude potrebné získať pripomienky používateľov k danej verzii. Až po ich zapracovaní odporúčame spustiť ostrú verziu vašej služby.
  </p>


  <h4 class="heading-small">Testovacia verzia</h4>

  <p class="text">
    Všetky služby by mali byť najskôr spúšťané v testovacej verzii. Pre označenie tejto verzie služby použite štítok “Testovacia verzia”.
    Odporúčame použiť toto označenie pre službu, ktorú ste spustili do prevádzky len so zámerom testovania. Môže ísť napríklad o klikateľný prototyp, ktorý nie je plne funkčný, čiže dáta vpísané do formulárových polí nie sú nikde zaznamenávané. Cieľom tejto verzie služby by malo byť získanie spätnej väzby od používateľov.
  </p>

  <h4 class="heading-small">Nová verzia</h4>
  <p class="text">Pre novú verziu služby použite štítok “Nová verzia”. Ako “Nová verzia” by mala byť označená každá nová služba, ktorá bola spustená do ostrej prevádzky, je teda plne funkčná. Odporúčame použiť toto označenie maximálne po dobu 6 mesiacov. Po uplynutí tejto doby označenie odstráňte.</p>

  <h3 class="heading-medium" id="priklad">Príklad označenia verzie služby so štítkom</h3>
  <p class="text">Označenie so štítkom musí byť priamo pod hlavičkou ID-SK a lištou s trikolórou. </p>
  <img src="/public/images/patterns/banner1.png" alt="banner">

  <h3 class="heading-medium" id="ziskanie">Získajte kód</h3>
  <p class="text">Kód na označenie testovacej a novej verzie získate na <a
      href="https://github.com/id-sk/idsk_frontend_toolkit/blob/master/docs/mixins.md#-phase-banner">ID-SK frontend toolkit.</a>
  </p>

  <h2 id="pridanie">
    Pridanie odkazu na spätnú väzbu
  </h2>

  <p class="text">Použitie odkazu na spätnú väzbu na stránke vám pomôže zozbierať spätnú väzbu od používateľov. Tento odkaz môže otvoriť email alebo presunúť používateľa na príslušnú stránku, či formulár. Akýkoľvek spôsob použijete, uistite sa, že sa používatelia v službe nestratia a môžu sa jednoducho vrátiť na stránku, na ktorej sa nachádzali. </p>


  <!--
  <h2 id="navody">
      Súvisiace návody
  </h2>

  <p class="text">Tieto návody môžu byť pre vás užitočné:</p>
  <ul class="list list-bullet">
      <li><a href="/#working-with-patterns">ID-SK dizajnové vzory</a></li>
      <li><a href="https://www.gov.uk/service-manual/design/using-the-govuk-template-frontend-toolkit-and-elements">použitie ID-SK šablóny, frontend toolkit a elementy</a></li>
      <li><a href="https://www.gov.uk/service-manual/design/making-prototypes">Vytváranie prototypov</a></li>
  </ul>
  -->
</main>
{% endblock %}
