{% extends "layout.html" %}

{% block main_content %}

<main role="main" id="content" lang="en">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Vzory</span>
    Stránky dokončenia procesu
  </h1>

  <p class="lede text">
    Tento návod opisuje spôsob, ako informovať používateľov, že dokončili proces.
  </p>

  <h2 class="heading-small heading-contents">Obsah:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#ukazka">Ukážka stránky s potvrdením</a></li>
        <li><a href="#informacie">Informácie, ktoré potrebujete zahrnúť</a></li>
        <li><a href="#pomoc">Pomoc používateľom, ktorí majú stránku v záložkách</a></li>
      </ul>
    </div>
  </div>

  <h3 class="heading-medium" id="ukazka">Ukážka stránok s potvrdením</h3>
  <img src="/public/images/patterns/validation1.png" alt="validation">
  <img src="/public/images/patterns/validation2.png" alt="validation">


  <h3 class="heading-medium" id="informacie">Informácie, ktoré má stránka obsahovať</h3>
  <p class="text">Vaša stránka s potvrdením by mala obsahovať:</p>
  <ul class="list-bullet">

    <li>referenčné číslo (ak existuje),</li>
    <li>detaily toho, čo sa bude diať ďalej a kedy,</li>
    <li>kontaktné údaje pre danú službu,</li>
    <li>odkazy na informácie alebo služby, ktoré budú používatelia pravdepodobne potrebovať ako ďalšie,</li>
    <li>odkaz na vašu stránku so spätnou väzbou, kde vám používatelia môžu povedať, čo si o službe myslia,</li>
    <li>informáciu o uložení odoslaného podania v odoslaných správach v elektronickej schránke, ak je používateľ prihlásený,</li>
    <li>informáciu o zaslaní potvrdenia alebo iných informácií k dokončeniu procesu do elektronickej schránky,</li>
    <li>spôsob, akým si používatelia môžu uložiť záznam o procese (napríklad ako PDF).</li>

  </ul>


  <h3 class="heading-medium" id="pomoc">Pomoc používateľom, ktorí majú stránku v záložkách</h3>
  <p class="text">
    Niektorí používatelia si budú stránku s potvrdením o dokončení procesu ukladať do záložiek ako formu potvrdenky. Ak je to možné, mali by ste im dovoliť vrátiť sa na stránku.
  </p>

  <p class="text">
    Ak to nie je možné, uistite sa, že vaša služba reaguje užitočným spôsobom, keď sa používatelia vrátia pomocou odkazu v záložke. Napríklad, ak ľudia používajú vašu službu na podanie žiadosti, môžete im poskytnúť odkazy na informácie ako:
  </p>

  <ul class="list-bullet">
    <li>sledovanie žiadosti,</li>
    <li>vytvorenie novej žiadosti,</li>
    <li>čo robiť (alebo koho kontaktovať) ak máte problém s vašou žiadosťou.</li>

  </ul>
  <h3 class="heading-medium" id="navody">Súvisiace návody</h3>

  <p class="text">Tieto návody môžu byť pre vás užitočné:</p>

  <!--
  <ul class="list-bullet">
      <li><a href="/#working-with-patterns">ID-SK dizajnové vzory</a></li>
      <li><a href="https://www.gov.uk/service-manual/design/using-the-govuk-template-frontend-toolkit-and-elements">použitie ID-SK šablóny, frontend toolkit a elementy</a></li>
      <li><a href="https://www.gov.uk/service-manual/design/making-prototypes">Vytváranie prototypov</a></li>
  </ul>
  -->
</main>
{% endblock %}
