{% extends "layout.html" %}

{% block main_content %}

<main role="main" id="content" lang="en">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Vzory</span>
    Stránky s otázkami
  </h1>

  <p class="lede text">
    Tento návod opisuje správne použitie a štruktúrovanie stránky s otázkami.
  </p>

  <h2 class="heading-small heading-contents">Obsah:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#ukazka-stranky-s-otazkami">Ukážka stránky s otázkami</a></li>
        <li><a href="#pouzitie-stranok-s-otazkami">Použitie stránok s otázkami</a></li>
        <li><a href="#nastavenie-stranky-s-otazkami">Nastavenie stránky s otázkami</a></li>
        <li><a href="#odkaz-na-predchadzajucu-stranku">Odkaz na predchádzajúcu stránku</a></li>
        <li><a href="#hlavicky-stranok">Hlavičky stránok</a></li>
        <li><a href="#nadpisy-sekcii">Nadpisy sekcií</a></li>
        <li><a href="#tlacidlo-pokracovat">Tlačidlo “Pokračovať”</a></li>
        <li><a href="#ako-sa-pytat-pouzivatelov-otazky">Ako sa pýtať používateľov otázky</a></li>
      </ul>
    </div>
  </div>

  <h2 class="heading-large" id="ukazka-stranky-s-otazkami">Ukážka stránky s otázkami</h2>
  <img src="/public/images/patterns/question1.png" alt="questions">

  <h2 class="heading-large" id="pouzitie-stranok-s-otazkami">Použitie stránok s otázkami</h2>
  <p class="text">Stránky s otázkami slúžia na získanie informácií od používateľov. V procese nahrádzajú komplexné formuláre a imitujú používateľovi osobnú komunikáciu s danou inštitúciou.</p>
  <p class="text">Stránky s otázkami sa používajú pri:</p>
  <ul class="list-bullet">
    <li>dotazníkoch,</li>
    <li>formulároch,</li>
    <li>kalkuláciach (napr. výpočet materskej dávky)</li>
  </ul>

  <h2 class="heading-large" id="nastavenie-stranky-s-otazkami">Nastavenie stránky s otázkami</h2>
  <p class="text">Stránky s otázkami musia obsahovať:</p>
  <ul class="list-bullet">
    <li>možnosť vrátiť sa na predchádzajúcu stránku (tlačidlo “Späť”),</li>
    <li>nadpis stránky,</li>
    <li>tlačidlo “Pokračovať”.</li>
  </ul>

  <h2 class="heading-large" id="odkaz-na-predchadzajucu-stranku">Odkaz na predchádzajúcu stránku</h2>
  <p class="text">Stránka s otázkami musí vždy obsahovať spätný odkaz na predchádzajúcu stránku.</p>
  <p class="text">Niektorí používatelia majú obavy z použitia tlačidla “Späť” vo vyhľadávači, najmä pri vypĺňaní dôležitých údajov. Pridanie odkazu na predchádzajúcu stránku (“Späť”) ich ubezpečí, že sa môžu vrátiť a zmeniť svoje predchádzajúce odpovede.</p>
  <p class="text">Odkaz by sa mal nachádzať v hornej časti stránky, pretože používatelia sa najčastejšie vracajú späť hneď po vstupe na stránku. Uistite sa, že odkaz na predchádzajúcu stránku funguje, aj keď nie je JavaScript k dispozícií.</p>

  <h2 class="heading-large" id="hlavicky-stranok">Názvy stránok</h2>
  <p class="text">Ako názvy stránok môžete použiť buď otázku alebo sumarizáciu, čoho sa budú otázky na stránke týkať.</p>
  <p class="text">Akonáhle si vyberiete jeden z formátov, používajte ho konzistentne na všetkých stránkach s otázkami.</p>
  <h3 class="heading-medium">Používanie otázky v titulke stránky</h3>
  <p class="text">Ak požadujete iba jednu informáciu na stránke, použite otázku ako titulku stránky - napríklad "Aké je vaše poštové smerovacie číslo?".</p>
  <img src="/public/images/patterns/question2.png" alt="questions">
  <h3 class="heading-medium">Používanie sumarizačnej titulky</h3>
  <p class="text">Ak potrebujete zoskupiť viac vzájomne súvisiacich otázok na jednej stránke, použite sumarizačnú titulku.</p>
  <p class="text">V príklade znázornenom nižšie sa od používateľa požadujú detailné informácie ohľadom pasu a keďže sa jedná o viacero súvisiacich otázok, je vhodné ako hlavičku použiť všeobecnejší nadpis sumarizujúci požadované údaje.</p>
  <img src="/public/images/patterns/question3.png" alt="questions">

  <h2 class="heading-large" id="nadpisy-sekcii">Nadpisy sekcií</h2>
  <p class="text">Nepoužívajte rovnakú titulku na viacerých stránkach. Titulka stránky sa vždy vzťahuje len na požadované informácie na aktuálnej stránke, nie na vyššiu úroveň, ktorej je stránka súčasťou.</p>
  <p class="text">Ak potrebujete zobraziť sekciu vyššej úrovne, použite štýl "sekundárnej hlavičky" - napríklad "Vaše údaje".</p>
  <img src="/public/images/patterns/question4.png" alt="questions">
  <h2 class="heading-large" id="tlacidlo-pokracovat">Tlačidlo “Pokračovať”</h2>
  <p class="text">Uistite sa, že tlačidlo "Pokračovať" je:</p>
  <ul class="list-bullet">
    <li>označené ako "Pokračovať" alebo “Ďalej”, nie “Nasledujúci” príp. "Ďalší",</li>
    <li>zarovnané doľava, aby ho užívatelia neprehliadli.</li>
  </ul>

  <h2 class="heading-large" id="ako-sa-pytat-pouzivatelov-otazky">Ako sa pýtať používateľov otázky</h2>
  <p class="text">Pri kladení otázok by ste mali:</p>
  <ul class="list-bullet">
    <li>vysvetliť, prečo používateľom budete klásť otázky,</li>
    <li>uviesť počet otázok, ktoré bude nutné zodpovedať,</li>
    <li>zoradiť otázky tak, aby väčšina používateľov dosiahla požadovaný zámer za čo najkratší čas,</li>
    <li>položiť iba otázky, na ktoré by používatelia určite mali vedieť odpovedať,</li>
    <li>umožniť používateľom odpovedať na otázku "Neviem" alebo "Nie som si istý", ak sú to pre vás relevantné odpovede,</li>
    <li>pretransformovať zložité texty (dokumenty) na jednoduché a zrozumiteľné otázky tak, aby používateľ nemusel kvôli zisteniu informácie z dokumentov opustiť stránku.</li>
  </ul>
  <p class="text">Pri kladení otázok si dajte pozor, aby ste od používateľov nežiadali informácie, ktorými už disponujete.</p>
</main>
{% endblock %}
