{% extends "layout.html" %}

{% block main_content %}

<main role="main" id="content" lang="en">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Vzory</span>
    Stránky so spätnou väzbou
  </h1>

  <p class="lede text">
    Pri vytváraní digitálnej služby budete potrebovať zabezpečiť používateľom spôsob, ktorým vám k nej poskytnú svoju spätnú väzbu.
  </p>

  <h2 class="heading-small heading-contents">Obsah:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#priklad">Príklad</a></li>
        <li><a href="#preco">Prečo musí mať vaša služba stránku so spätnou väzbou</a></li>
      </ul>
    </div>
  </div>

  <h3 class="heading-medium" id="priklad">Príklad</h3>
  <img src="/public/images/patterns/feedback-page.png" alt="feedback">

  <h3 class="heading-medium" id="preco">Prečo musí mať vaša služba stránku so spätnou väzbou</h3>
  <p class="text">
    Všetky služby v testovacej alebo ostrej verzii musia mať stránku so spätnou väzbou, aby ste mohli zozbierať komentáre a vyhodnocovať spokojnosť používateľov.
  </p>
  <p class="text">
    K poskytnutiu spätnej väzby prichádza po tom, ako používateľ dokončí podanie a po úplnom vybavení služby, o ktorú používateľ žiadal. Na meranie spokojnosti používateľov sa využíva koncept Net Promoter Score (NPS).
  </p>
  <p class="text">
    NPS je kvantitatívny údaj, ktorý bude doplnený kvalitatívnym vysvetlením používateľa. Používateľ odpovedá na škále od 1 po 10, na otázku v nasledovnej formulácii:
    “Ako veľmi je pravdepodobné, že by ste službu X odporučili svojim priateľom a známym?”
  </p>
  <p class="text">
    Likertova škála, na ktorej sa pohybujú odpovede používateľa, reprezentuje mieru jeho súhlasu:
  </p>

  <ul class="list list-bullet">
    <li>Hodnota 1 - Určite nie</li>
    <li>Hodnota 5 - Neutrálny postoj</li>
    <li>Hodnota 10 - Určite áno</li>
  </ul>
  <p class="text">Kvalitatívny údaj predstavuje otvorená otázka, kde bude mať používateľ možnosť doplniť svoj názor. Táto otázka bude dostupná pre všetky odpovede s hodnotou od 1 po 6. Otázka bude v znení: “Ako by sme mohli túto službu zlepšiť?”
  </p>

  <!--
  <h3 class="heading-medium" id="navody">Súvisiace návody</h3>
  <p class="text">Tieto návody môžu byť pre vás užitočné:</p>
  <ul class="list list-bullet">
      <li><a href="/#working-with-patterns">ID-SK dizajnové vzory</a></li>
      <li><a href="https://www.gov.uk/service-manual/design/using-the-govuk-template-frontend-toolkit-and-elements">použitie ID-SK šablóny, frontend toolkit a elementy</a></li>
      <li><a href="https://www.gov.uk/service-manual/design/making-prototypes">Vytváranie prototypov</a></li>
  </ul>
  -->
</main>
{% endblock %}
