{% extends "layout.html" %}

{% block main_content %}

<main role="main" id="content" lang="en">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Vzory</span>
    Ukážka podania žiadosti
  </h1>

  <p class="lede text">
    Toto je názorná ukážka, ako by mala vyzerať elektronická služba, ktorá dodržiava pravidlá ID-SK.

  </p>

  <h2 class="heading-small heading-contents">Obsah:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#informacne-udaje">Informačné údaje</a></li>
        <li><a href="#uvodna-obrazovka">Úvodná obrazovka</a></li>
        <li><a href="#osobne-informacie">Osobné informácie</a></li>
        <li><a href="#kontaktne-udaje">Kontaktné údaje</a></li>
        <li><a href="#informacie-tykajuce-sa-ziadosti">Informácie týkajúce sa žiadosti</a></li>
        <li><a href="#zhrnutie">Zhrnutie</a></li>
        <li><a href="#platobna-stranka">Platobná stránka</a></li>
        <li><a href="#potvrdenie-o-podani-ziadosti">Potvrdenie o podaní žiadosti</a></li>
      </ul>
    </div>
  </div>

  <h3 class="heading-medium" id="informacne-udaje">Informačné údaje</h3>
  <p class="text">V rámci celého procesu podávania žiadosti je dôležité zachovať hlavičku a pätu ID-SK. Ak má proces podávania žiadosti viac ako štyri obrazovky, musí byť v hlavičke stránok vždy umiestnený názov služby, aby mal používateľ prehľad o tom, o akú žiadosť sa jedná.</p>

  <h3 class="heading-medium" id="uvodna-obrazovka">Úvodná obrazovka</h3>
  <p class="text">Úvodná stránka pomáha používateľom pochopiť, o akú službu sa jedná, či ju potrebuje, resp. či je pre neho vhodná spolu so základnými informáciami, ktoré by mal o danej službe vedieť.<br>
    Mala by určite obsahovať informácie, prípadne dokumenty, ktoré by si mali používatelia prichystať predtým, než prejdú k samotnému procesu podania žiadosti, prípadne aj časový odhad vyplnenia podania.<br>
    Aby mal používateľ možnosť načítať uložené údaje z XML súboru, poskytujeme mu takúto možnosť v alternatívnych odkazoch.
  </p>
  <h4 class="heading-small">Ukážka</h4>
  <img src="/public/images/patterns/podanie1.png" alt="podanie">

  <h3 class="heading-medium" id="osobne-informacie">Osobné informácie</h3>
  <p class="text">Proces podávania žiadosti rozdeľte na viacero stránok tak, aby sa každá stránka obsahovo týkala iba jednej veci, napríklad:</p>
 <ul class="list list-bullet text">
    <li>jedna informácia, ktorú komunikujete používateľovi,</li>
    <li>jedno rozhodnutie, ktoré musí používateľ urobiť,</li>
    <li>jedna otázka, ktorú musí používateľ zodpovedať.</li>
  </ul>
  <p class="text">V titulke stránky uveďte buď názov sekcie, ktorej sa stránka venuje (napríklad “Osobné údaje”) alebo otázku, v prípade, ak sa pýtate iba na jednu konkrétnu informáciu (napríklad “Aký ste mali hrubý mesačný príjem za predchádzajúci rok?”).</p>
  <h4 class="heading-small">Ukážka</h4>
  <img src="/public/images/patterns/podanie2.png" alt="podanie">


  <h3 class="heading-medium" id="kontaktne-udaje">Kontaktné údaje</h3>
  <p class="text">Ak je nutné používateľa informovať o vybavení žiadosti, dajte mu na výber z viacerých možností jeho kontaktovania. Využite prepínače (ang. radio buttons), ak si používateľ musí vybrať jednu z možností kontaktu alebo začiarkávacie políčka (ang. checkboxes), ak je výber dobrovoľný.</p>
  <h4 class="heading-small">Ukážka</h4>
  <img src="/public/images/patterns/podanie3.png" alt="podanie">


  <h3 class="heading-medium" id="informacie-tykajuce-sa-ziadosti">Informácie týkajúce sa žiadosti</h3>
  <h4 class="heading-small">Ukážka</h4>
  <img src="/public/images/patterns/podanie4.png" alt="podanie">


  <h3 class="heading-medium" id="zhrnutie">Zhrnutie</h3>
  <p class="text">Zhrnutie sa používa vždy na konci procesu, kedy používateľ musí potvrdiť správnosť svojich údajov.</p>
  <p class="text">Zhrnutie má obsahovať:</p>
 <ul class="list list-bullet text">
    <li>jasnú informáciu, že na stránke je potrebné vykonať úlohu a že proces nebude dokončený pokiaľ používatelia nepotvrdia svoje údaje,</li>
    <li>zoznam všetkých predošlých odpovedí, ktoré používateľ v procese vyplnil,</li>
    <li>informáciu o poplatku, ktorý bude používateľ musieť zaplatiť, a rovnako aj vysvetlenie, na základe čoho bola stanovená výška poplatku za službu,</li>
    <li>potvrdzovacie tlačidlo, ktoré upovedomí používateľa na to, čo sa bude diať v ďalšom kroku.</li>
  </ul>
  <p class="text">Stránka zhrnutia by mala používateľovi poskytnúť možnosť vytlačiť vyplnené údaje vo formáte PDF, exportovať ich prostredníctvom alternatívnych odkazov a uložiť svoju žiadosť do konceptov v elektronickej schránke.</p>
  <h4 class="heading-small">Ukážka</h4>
  <img src="/public/images/patterns/podanie5.png" alt="podanie">


  <h3 class="heading-medium" id="platobna-stranka">Platba</h3>
  <p class="text">Po autorizácií prechádza používateľ k platbe za službu. Aby nestrácal pri platbe za službu prehľad, musí platobná stránka obsahovať nasledovné informácie:</p>
 <ul class="list list-bullet text">
    <li>informácie o službe, ktorú ide používateľ zaplatiť,</li>
    <li>poplatok za službu,</li>
    <li>spôsob platby,</li>
    <li>tlačidlá “Zaplatiť” a “Zaplatiť neskôr”,</li>
    <li>možnosť zrušenia platby.</li>
  </ul>

  <h3 class="heading-medium" id="potvrdenie-o-podani-ziadosti">Potvrdenie o podaní žiadosti</h3>
  <p class="text">Ak podanie prebehlo úspešne, zobrazte používateľovi stránku s potvrdením o podaní žiadosti spolu s ďalšími údajmi ako:</p>
 <ul class="list list-bullet text">
    <li>referenčné číslo podania (ak existuje),</li>
    <li>detaily toho, ako bude proces pokračovať,</li>
    <li>kontaktné údaje pre danú službu,</li>
    <li>odkazy na informácie alebo služby, ktoré budú používatelia pravdepodobne potrebovať v nasledovnom procese,</li>
    <li>odkaz na vašu stránku so spätnou väzbou, kde vám používatelia môžu povedať svoj názor o vašej službe,</li>
    <li>spôsob, akým si používatelia môžu uložiť záznam o transakcii (napríklad ako PDF).</li>
  </ul>
  <h4 class="heading-small">Ukážka</h4>
  <img src="/public/images/patterns/podanie6.png" alt="podanie">
</main>
{% endblock %}
