{% extends "layout.html" %}

{% block main_content %}

<main role="main" id="content" lang="en">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Vzory</span>
    Výber pohlavia
  </h1>

  <p class="lede text">

    Tento návod opisuje spôsob, ako požiadať používateľov o informáciu o ich pohlaví.

  </p>

  <h2 class="heading-small heading-contents">Obsah:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#priklad">Príklad</a></li>
        <li><a href="#vyhnite">Vyhnite sa používaniu rodových zámen</a></li>
      </ul>
    </div>
  </div>

  <p class="text">Na pohlavie sa používateľov pýtajte len v prípade, ak nemôžete poskytnúť svoju službu bez týchto informácií.</p>

  <h2 class="heading-large" id="nadizajnujte">Príklad</h2>
  <p class="text">Tu je príklad toho, ako sa používateľov opýtať na ich pohlavie:</p>
  <img src="/public/images/patterns/gender.png">
  <p class="text">Ak sa chcete opýtať používateľov na pohlavie, mali by ste polia uviesť v abecednom poradí: "Muž", "Žena".</p>


  <h2 class="heading-large" id="vyhnite">Vyhnite sa používaniu rodových zámen</h2>
  <p class="text">
    Používateľa by ste mali osloviť pomocou osobného zámena "vy", ak je to možné, a vyhnúť sa používaniu rodových zámen, ako je "on" a "ona".

  </p>
</main>
{% endblock %}
