{% extends "layout.html" %}

{% block main_content %}

<main role="main" id="content" lang="en">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Vzory</span>
    Zoznamy úloh
  </h1>

  <p class="lede text">
    Tento návod opisuje spôsob, ako postupovať pri tvorbe komplexných digitálnych služieb, ktoré sa skladajú z viacerých častí.

  </p>

  <h2 class="heading-small heading-contents">Obsah:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#priklad-stranky-so-zoznamom-uloh">Príklad stránky so zoznamom úloh</a></li>
        <li><a href="#pouzitie-zoznamov-uloh">Použitie zoznamov úloh</a></li>
        <li><a href="#zobrazenie-stavu-ulohy">Zobrazenie stavu úlohy</a></li>
        <li><a href="#zoskupenie-potrebnych-informacii-do-uloh">Zoskupenie potrebných informácií do úloh</a></li>
        <li><a href="#zoskupenie-uloh-do-sekcii">Zoskupenie úloh do sekcií</a></li>
      </ul>
    </div>
  </div>

  <p class="text">Stránky so zoznamom úloh umožňujú používateľom zobraziť:</p>
  <ul class="list list-bullet">
    <li>úlohy súvisiace s dokončením žiadosti,</li>
    <li>poradie, v ktorom majú byť úlohy vykonané,</li>
    <li>informáciu, či boli úlohy dokončené.</li>
  </ul>

  <h3 class="heading-medium" id="priklad-stranky-so-zoznamom-uloh">Príklad stránky so zoznamom úloh</h3>
  <img src="/public/images/patterns/zoznam1.png" alt="zoznam">

  <h3 class="heading-medium" id="pouzitie-zoznamov-uloh">Použitie zoznamov úloh</h3>
  <p class="text">Stránku so zoznamom úloh použite napríklad pri žiadosti, pred ktorej podaním je potrebné vykonať viaceré úlohy. To sa stáva najmä v situáciách, kedy poskytovanie jednotlivých služieb spadá prierezovo pod viaceré rezorty alebo viaceré úrady a zároveň takáto životná situácia nie je plne na portáli Slovensko.sk.</p>
  <p class="text">Skôr než tento zoznam úloh použijete, pokúste sa podanie žiadosti čo možno najviac zjednodušiť. Dôležité je znížiť počet úloh alebo krokov, ktoré musí používateľ vykonať, na minimálny.</p>
  <p class="text">Pri použití stránky so zoznamom úloh dbajte na to, aby:</p>
  <ul class="list list-bullet">
    <li>bola umiestnená na začiatku danej žiadosti,</li>
    <li>sa zobrazila po dokončení každej úlohy,</li>
    <li>sa zobrazila na začiatku každej návštevy profilu používateľa.</li>
  </ul>

  <h3 class="heading-medium" id="zobrazenie-stavu-ulohy">Zobrazenie stavu úlohy</h3>
  <p class="text">Kedykoľvek používateľovi zobrazíte stránku so zoznamom úloh, musí byť jasné, ktoré úlohy už dokončil pomocou označenia “Hotovo”.</p>
  <img src="/public/images/patterns/zoznam2.png" alt="zoznam">

  <h3 class="heading-medium" id="zoskupenie-potrebnych-informacii-do-uloh">Zoskupenie potrebných informácií do úloh</h3>
  <p class="text">Potrebné informácie a otázky zoskupujte do jednotlivých konkrétnych úloh (napríklad "Poskytnite daňové priznanie" a "Uveďte lekárske záznamy"). Takéto úlohy pomôžu používateľom správne porozumieť akú informáciu majú poskytnúť, resp. aký doklad majú poskytovateľovi služby doručiť a efektívne si naplánovať s tým súvisiace aktivity.</p>
  <p class="text">Názvy úloh by mali:</p>
  <ul class="list list-bullet">
    <li>špecifikovať konkrétnu úlohu alebo s ňou súvisiacu aktivitu</li>
    <li>začínať slovesami (napríklad "skontrolovať", "deklarovať", "oznámiť")</li>
  </ul>

  <h3 class="heading-medium" id="zoskupenie-uloh-do-sekcii">Zoskupenie úloh do sekcií</h3>
  <p class="text">Ak žiadosť pozostáva z viacerých úloh, rozdeľte ju na sekcie, ktoré budú predstavovať etapy procesu.</p>
  <p class="text">Napríklad môžete zoskupiť všetky úlohy, ktoré pomáhajú používateľom zistiť, či je pre nich daná služba vhodná v sekcii nazvanej "Skôr, než začnete".</p>
  <p class="text">Umožnite používateľom vykonať úlohy v ľubovoľnom poradí. To im pomôže naplánovať si svoj čas a dokončiť jednotlivé časti sekcie, kedykoľvek budú môcť.</p>
</main>
{% endblock %}
